@import '~ag-grid-community/styles/ag-grid.css'; // Core CSS
@import '~ag-grid-community/styles/ag-theme-quartz.css'; // Theme

/* Custom theme for signalk*/
.ag-theme-signalk {
  .ag-cell {
    font-size: 12px;
    line-height: 1.5em;
    padding-left: var(--ag-cell-horizontal-padding);
    padding-right: var(--ag-cell-horizontal-padding);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  --ag-data-color: grey;
}
