/*
* Styling for Ag-grid component
* Styling or custom themes can be created here for the ag-grid component
* Visit official documentation for more information
* https://www.ag-grid.com/javascript-data-grid/global-style-customisation/
* 
* Date: 09 March 2024
* Author: Leonard Gable
*/

@import '~ag-grid-community/styles/ag-grid.css'; // Core CSS
@import '~ag-grid-community/styles/ag-theme-quartz.css'; // Theme

/* Custom theme for signalk*/
.ag-theme-signalk {
  .ag-cell {
    font-size: 12px;
    line-height: 1.5em;
    padding-left: var(--ag-cell-horizontal-padding);
    padding-right: var(--ag-cell-horizontal-padding);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  --ag-data-color: grey;
}
