version: 2
updates:
  - package-ecosystem: 'npm'
    directories:
      - '/'
      - '/packages/*'
    schedule:
      interval: 'monthly'
    open-pull-requests-limit: 5
    groups:
      npm-minor-patch:
        applies-to: 'version-updates'
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
      npm-security-minor-patch:
        applies-to: 'security-updates'
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'monthly'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
