node_modules
.DS_Store
*.db
logs/*
bower_components
settings/ssl-key.pem
settings/ssl-cert.pem
plugin-config-data
plugin-config/public/main.js.map

# Committing package-lock.json to repo causes problems for node-gyp-built dependencies
# when moving between platforms.
package-lock.json
