node_modules
.DS_Store
*.db
logs/*
bower_components
settings/ssl-key.pem
settings/ssl-cert.pem
plugin-config-data
plugin-config/public/main.js.map

*.js-e

bin/kri

bin/krissie

bin/multiplexed

lib/interfaces/charts.js

lib/interfaces/charts.js
