*.guard.ts
public

**/*.mbtiles
**/*.pmtiles
**/.__mf__temp
# AssemblyScript files use decorators that prettier doesn't understand
examples/wasm-plugins/*/assembly
packages/assemblyscript-plugin-sdk/assembly
# AssemblyScript build outputs
packages/assemblyscript-plugin-sdk/build
# Rust build outputs
**/target
