name: Build Docker base image

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  build_docker_base_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_PAT }} # Personal access tokens (classic) with a scope of "write:packages" is needed to release ghcr.io package registry. 
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: ./docker/Dockerfile_base
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: ghcr.io/signalk/signalk-server-base:latest
