name: Build Docker development container

on:
  push:
    branches:
    - master
    - "build-docker"
    tags:
      - '*'
      - '!v*'
  workflow_dispatch:

jobs:
  signalk-server_npm_files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Node setup
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Build npm files locally and upload artifacts
        run: |
          npm cache clean -f
          npm install npm@latest -g
          npm install --package-lock-only
          npm ci && npm cache clean --force
          npm run build --workspaces --if-present
          for dir in packages/*; do
            pushd $dir && npm pack && mv *.tgz ../../ && popd
          done
          jq '.workspaces=[]' package.json > _package.json && mv _package.json package.json
          npm i --save *.tgz
          npm run build
          rm typedoc-signalk-theme*.tgz # This is only needed as a dev dependency
          npm pack
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: packed-modules
          path: |
            *.tgz

  docker_images:
    needs: signalk-server_npm_files
    strategy:
      matrix:
        os: [22.04, 24.04]
        vm: [ubuntu-latest, ubuntu-24.04-arm]
        include:
          - vm: ubuntu-latest
            arch: amd
            platform: linux/amd64
          - vm: ubuntu-24.04-arm
            arch: arm
            platform: linux/arm64,linux/arm/v7
    runs-on: ${{ matrix.vm }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - uses: actions/download-artifact@v4
        with:
          name: packed-modules
      - name: Modify Dockerfile for build
        run: |
          sed -i \
            "s|cr.signalk.io/signalk/signalk-server-base:latest|ghcr.io/signalk/signalk-server-base:latest-${{ matrix.os }}|g" \
            ./docker/Dockerfile
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: ghcr.io/signalk/signalk-server:${{ matrix.arch }}-${{ matrix.os }}-${{ github.run_id }}
          
  create-and-push-manifest:
    needs: docker_images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [22.04, 24.04]
        include:
          - os: 24.04
            suffix: -24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            signalk/signalk-server
            ghcr.io/signalk/signalk-server
          tags: |
            type=ref,event=branch
            type=sha
          flavor: |
            suffix=${{ matrix.suffix }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: signalkci
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Create and push multi-arch manifest to GHCR and Docker Hub
        uses: int128/docker-manifest-create-action@v2
        with:
          tags: |
            ${{ steps.docker_meta.outputs.tags }}
          sources: |
            ghcr.io/signalk/signalk-server:amd-${{ matrix.os }}-${{ github.run_id }}
            ghcr.io/signalk/signalk-server:arm-${{ matrix.os }}-${{ github.run_id }}

  housekeeping:
    needs: create-and-push-manifest
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Remove Docker Image from GHCR
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: signalk-server
          delete-untagged: true
          delete-tags: amd-22.04-${{ github.run_id }},arm-22.04-${{ github.run_id }},amd-24.04-${{ github.run_id }},arm-24.04-${{ github.run_id }}
          token: ${{ secrets.GHCR_PAT }}
