name: Build Docker base images

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build-images:
    strategy:
      matrix:
        os: [24.04]
        node: [22.x, 24.x]
        vm: [ubuntu-latest, ubuntu-24.04-arm]
        include:
          - vm: ubuntu-latest
            arch: amd
            platform: linux/amd64
          - vm: ubuntu-24.04-arm
            arch: arm
            node: 22.x
            platform: linux/arm64,linux/arm/v7
          - vm: ubuntu-24.04-arm
            arch: arm
            node: 24.x
            platform: linux/arm64
    runs-on: ${{ matrix.vm }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build baseimages
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile_base_${{ matrix.os }}
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ghcr.io/signalk/signalk-server-base:${{ matrix.arch }}-${{ matrix.os }}-${{ matrix.node }}
          build-args: |
            NODE=${{ matrix.node }}

      - name: Modify Dockerfile_rel for testing
        run: |
          sed -i \
            "s|cr.signalk.io/signalk/signalk-server-base:latest|ghcr.io/signalk/signalk-server-base:${{ matrix.arch }}-${{ matrix.os }}-${{ matrix.node }}|g" \
            ./docker/Dockerfile_rel

      - name: Build Signal K test docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile_rel
          platforms: ${{ matrix.platform }}
          build-args: |
            TAG=latest

  create-and-push-manifest:
    needs: [build-images]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [24.04]
        node: [22.x, 24.x]

    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Create and push multi-arch manifest to GHCR
        uses: int128/docker-manifest-create-action@v2
        with:
          tags: |
            ghcr.io/signalk/signalk-server-base:latest-${{ matrix.os }}-${{ matrix.node }}
          sources: |
            ghcr.io/signalk/signalk-server-base:amd-${{ matrix.os }}-${{ matrix.node }}
            ghcr.io/signalk/signalk-server-base:arm-${{ matrix.os }}-${{ matrix.node }}

  copy-ubuntu-to-dockerhub:
    needs: create-and-push-manifest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [24.04]
        node: [22.x, 24.x]

    steps:
      - name: Install skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo
      - name: Copy images from GHCR to Docker Hub
        shell: bash
        env:
          GHCR_USERNAME: ${{ github.actor }}
          GHCR_TOKEN: ${{ secrets.GHCR_PAT }}
          DOCKER_HUB_USERNAME: signalkci
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          set -euo pipefail
          skopeo copy --all \
            --src-creds "${GHCR_USERNAME}:${GHCR_TOKEN}" \
            --dest-creds "${DOCKER_HUB_USERNAME}:${DOCKER_HUB_ACCESS_TOKEN}" \
            "docker://ghcr.io/signalk/signalk-server-base:latest-${{ matrix.os }}-${{ matrix.node }}" \
            "docker://docker.io/signalk/signalk-server-base:latest-${{ matrix.os }}-${{ matrix.node }}"

  housekeeping:
    needs: copy-ubuntu-to-dockerhub
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Remove Docker Image from GHCR
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: signalk-server-base
          delete-untagged: true
          delete-tags: amd-*,arm-*
          token: ${{ secrets.GHCR_PAT }} # Need to have delete permission
