name: CI test

on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: SocketDev/action@v1
        with:
          mode: firewall-free
      - run: sfw npm install
      - run: npm run build:all

      - name: resources-provider-plugin
        working-directory: ./packages/resources-provider-plugin
        run: |
          npm run test

      - run: npm test
        env:
          CI: true
